<!DOCTYPE html>
<html>
<head>
  <title>Iniciar Sesión</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag params[:controller], :media => "all", 'data-turbolinks-track' => true if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>
  <%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>
</head>
<body>
<div class="page-wrapper">
  <div class="page-content--bge5">
    <div class="container">
      <div class="login-wrap">
        <div class="login-content">
          <div class="login-logo">
            <a href="#">
              <img src="<%= image_url('logo.png') %>" width="220" alt="CoolAdmin">
            </a>
          </div>
          <div class="login-form">
            <%= form_tag login_path, novalidate: true do |form| %>
              <% if !flash[:notice].nil? %>
                <div class="alert alert-danger" role="alert">
                  <%= flash[:notice] %>
                </div>
              <% end %>

              <div class="form-group">
                <label>Correo electrónico</label>
                <input class="au-input au-input--full" type="email" name="email" placeholder="Correo electrónico">
              </div>
              <div class="form-group">
                <label>Contraseña</label>
                <input class="au-input au-input--full" type="password" name="password" placeholder="Contraseña">
              </div>
              <!-- div class="login-checkbox">
                <label>
                  <input type="checkbox" name="remember">Remember Me
                </label>
                <label>
                  <a href="#">Forgotten Password?</a>
                </label>
              </div -->
              <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Entrar</button>
              <!-- div class="social-login-content">
                <div class="social-button">
                  <button class="au-btn au-btn--block au-btn--blue m-b-20">sign in with facebook</button>
                  <button class="au-btn au-btn--block au-btn--blue2">sign in with twitter</button>
                </div>
              </div -->
            <% end %>
            <!-- div class="register-link">
              <p>
                Don't you have account?
                <a href="#">Sign Up Here</a>
              </p>
            </div -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>

