<section id="content" class="pn">

  <div class="center-block mt50 mw800">
    <h1 class="error-title">ERROR</h1>
    <h2 class="error-subtitle">ACCESSO NO AUTORIZADO</h2>
  </div>

</section>

<script>
    $(function() {
        $('body').addClass('error-page');
    });
</script>