<div class="modal fade" id="showReportModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reporte #{{ report.id }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <img ng-src="{{ report.image.url }}" class="card-img-top">
          <div class="card-body">
            <h3 class="card-title">{{ report.title }}</h3>
            <p class="card-text">{{ report.description }}</p>
            <p class="card-text"><small class="text-muted">{{ report.user.name+' '+report.user.lastname }}</small></p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Ubicación</h3>
            <div id="map" style="height: 400px"></div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <form>
              <input type="hidden" ng-init="status_reports = <%= StatusReport.all.to_json %>">
              <input type="hidden" ng-init="priorities = <%= Priority.all.to_json %>">

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="status" class="font-weight-bold">Estatus</label>
                  <select id="status" class="form-control" ng-model="report.status_report_id"
                          ng-options="x.id as x.name for x in status_reports">
                  </select>
                </div>

                <div class="form-group col-md-6">
                  <label for="priority" class="font-weight-bold">Prioridad</label>
                  <select id="priority" class="form-control" ng-model="report.priority_id"
                          ng-options="x.id as x.name for x in priorities">
                  </select>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="updateReport()">Guardar</button>
      </div>
    </div>
  </div>
</div>