<div class="container-fluid" ng-controller="ReportsController">
  <div class="card shadow-lg">
    <div class="card-body">
      <div class="card-title d-flex justify-content-between">
        <h2>Reportes</h2>
        <button type="button" class="btn btn-primary" ng-click="getReports()">
          <i class="fa fa-sync-alt"></i>
        </button>
      </div>
      <hr>
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>Título</th>
          <th>Descripción</th>
          <th>Prioridad</th>
          <th>Estatus</th>
          <th>Operaciones</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="report in reports">
          <td>{{ report.title }}</td>
          <td>{{ report.description }}</td>
          <td class="text-center">
            <span ng-if="report.priority_id == <%= Priority::UNASSIGNED %>" class="badge badge-pill badge-secondary">Sin asignar</span>
            <span ng-if="report.priority_id == <%= Priority::LOW %>" class="badge badge-pill badge-success">Baja</span>
            <span ng-if="report.priority_id == <%= Priority::HALF %>" class="badge badge-pill badge-warning">Media</span>
            <span ng-if="report.priority_id == <%= Priority::HIGH %>" class="badge badge-pill badge-danger">Alta</span>
          </td>
          <td class="text-center">
            <span ng-if="report.status_report_id == <%= StatusReport::PENDING %>" class="badge badge-pill badge-secondary">Pendiente</span>
            <span ng-if="report.status_report_id == <%= StatusReport::IN_PROCESS %>" class="badge badge-pill badge-warning">En proceso</span>
            <span ng-if="report.status_report_id == <%= StatusReport::ATTENDED %>" class="badge badge-pill badge-danger">Atendido</span>
          </td>
          <td class="text-center">
            <a href="javascript:void(0)" type="button" class="badge badge-primary"
               ng-click="showReport(report.id)">
              <i class="fas fa-eye"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <%= render 'admin/reports/show' %>
    </div>
  </div>
</div>