<div class="container-fluid" ng-controller="UsersController">
  <div class="card shadow-lg">
    <div class="card-body">
      <div class="card-title d-flex justify-content-between">
        <h2>Usuarios</h2>
        <button type="button" class="btn btn-primary" ng-click="getUsers()">
          <i class="fa fa-sync-alt"></i>
        </button>
      </div>
      <hr>
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>Nombre completo</th>
          <th>Username</th>
          <th>Email</th>
          <th>Número de teléfono</th>
          <th>Tipo</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
          <td>{{ user.name+' '+user.lastname }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone_number }}</td>
          <td class="text-center">{{ user.type_user.name }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>