<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"/>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag params[:controller], :media => "all", 'data-turbolinks-track': 'reload' if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>
  <%= javascript_include_tag params[:controller], 'data-turbolinks-track' => 'reload' if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

  <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOAR42pYBEc_6YAChtbLi3-9Kmgh7Pp0M"></script>
</head>

<body ng-app="AdminModule">
<div class="page-wrapper">
  <!-- HEADER MOBILE-->
  <header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
      <div class="container-fluid">
        <div class="header-mobile-inner">
          <a class="logo mx-auto" href="<%= admin_home_path %>">
            <img src="<%= image_url('logo.png') %>" width="130" alt="CoolAdmin" />
          </a>
          <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
          </button>
        </div>
      </div>
    </div>
    <nav class="navbar-mobile">
      <div class="container-fluid">
        <ul class="navbar-mobile__list list-unstyled">
          <li>
            <a href="<%= admin_home_path %>">
              <i class="fas fa-home"></i>Inicio</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- END HEADER MOBILE-->

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="<%= admin_home_path %>">
        <img src="<%= image_url('logo.png') %>" width="160" alt="Cool Admin" />
      </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar__list">
          <li class="<%= controller.controller_name == 'home' ? 'active' : '' %>">
            <a href="<%= admin_home_path %>">
              <i class="fas fa-home"></i>Inicio</a>
          </li>
          <li class="<%= controller.controller_name == 'reports' ? 'active' : '' %>">
            <a href="<%= admin_reports_path %>">
              <i class="fas fa-bell"></i>Reportes</a>
          </li>
          <li class="<%= controller.controller_name == 'users' ? 'active' : '' %>">
            <a href="<%= admin_users_path %>">
              <i class="fas fa-user"></i>Usuarios</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section__content section__content--p30">
        <div class="container-fluid">

          <div class="header-wrap">
            <div class="header-button ml-auto my-auto">
              <div class="account-wrap ml-auto">
                <div class="account-item clearfix js-item-menu">
                  <div class="image">
                    <img src="<%= image_url('icon/avatar-default.jpg') %>" alt="<%= @current_user.name+' '+@current_user.lastname  %>" />
                  </div>
                  <div class="content">
                    <a class="js-acc-btn" href="javascript:void(0)"><%= @current_user.name+' '+@current_user.lastname  %></a>
                  </div>
                  <div class="account-dropdown js-dropdown">
                    <div class="info clearfix">
                      <div class="image">
                        <a href="#">
                          <img src="<%= image_url('icon/avatar-default.jpg') %>" alt="<%= @current_user.name+' '+@current_user.lastname  %>" />
                        </a>
                      </div>
                      <div class="content">
                        <h5 class="name">
                          <a href="#"><%= @current_user.name+' '+@current_user.lastname  %></a>
                        </h5>
                        <span class="email"><%= @current_user.email %></span>
                      </div>
                    </div>
                    <!-- div class="account-dropdown__body">
                      <div class="account-dropdown__item">
                        <a href="#">
                          <i class="zmdi zmdi-account"></i>Account</a>
                      </div>
                      <div class="account-dropdown__item">
                        <a href="#">
                          <i class="zmdi zmdi-settings"></i>Setting</a>
                      </div>
                      <div class="account-dropdown__item">
                        <a href="#">
                          <i class="zmdi zmdi-money-box"></i>Billing</a>
                      </div>
                    </div -->
                    <div class="account-dropdown__footer">
                      <a href="<%= logout_path %>">
                        <i class="zmdi zmdi-power"></i>Salir</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </header>
    <!-- HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div class="main-content">
      <div class="section__content section__content--p30">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
  </div>

</div>

</body>

</html>
